[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
dash = "==1.8.0"
pandas = "*"
sqlalchemy = "*"
pymysql = "*"

[requires]
python_version = "3.7"
