[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
dash = "*"
pandas = "*"
sqlalchemy = "*"
pymysql = "*"
dash-bootstrap-components = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
